@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}
 
@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}
 
@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}
 
@media (min-width: 624px) {
    html {
        font-size: 9px;
    }
}
 
@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

html,
body {
    height: 100%;

    /* disable text selection */
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: #111;
    margin: 0;
}

#button-box {
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

a {
    color: white;
    display: block;
    font-size: 1.3rem;
}

.btn {
    background: #0000bc;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 2.5em;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    width: auto;
}

.btn:focus {
    background: #0000bc;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    width: auto;
}

.btn:hover {
    background: #0000fc;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
    border-left: 6px inset rgba(0, 0, 0, 0.5);
    border-right: 6px inset rgba(255, 255, 255, 0.5);
    border-top: 6px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 2.5rem;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    width: auto;
}

.btn.grey {
    background: #666666;
    pointer-events: none;
}

#game-container {
    height: 100%;
    width: 100%;
}

#canvas-container {
    height: calc(100% - 37rem);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

#canvas-inner-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#bevy-canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    /* remove the tiny vertical spacing bellow the canvas */
    display: block;
}

#controls {
    height: 35rem;
    width: 100%;
    display: flex;
    padding: 1rem 0;
}

#dpad {
    width: 35rem;
    height: 35rem;
    margin: auto;
    position: relative;
    display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.btn-big {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-big:hover {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-small {
    margin: 2rem;
}

.btn-small:hover {
    margin: 2rem;
}

[hidden] {
    display: none !important;
}

#error-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#error-image {
    width: 24rem;
    display: block;
}

#error-message {
    color: white;
    display: block;
    font-size: 3rem;
    margin: 1rem;
}